<ng-container>
    <div class="profile_container">
    <!-- Блок отвечающий за иконку и имя пользователя -->
    <div>
        <ng-content select="icon"></ng-content>
        <div>
            <h1>Райан Гослинг</h1>
            <p>ryan.gosling</p>
        </div>
    </div>
    <!-- Блок отвечающий за информацию о пользовател -->
     <div>
         <p>Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.</p>
     </div>
        <!-- Блок отвечающий за панели -->
     <div>
        <ng-content select="panel"></ng-content>
     </div>
     <!-- Блок отвечающий за кнопки -->
     <div>
        <ng-content select="button-custom"></ng-content>
     </div>
    </div>

</ng-container>