@import 'mainTheme.scss';
.panel {
    padding: 4px 8px;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    color: #FFFFFF;
    

    .main {
        border: 1px solid #AE7AFF;
        color: #AE7AFF;
    }
}